<html>
  <head>
    <title><%= i18n('Stand-o-matic') %></title>
  </head>
  <body>
    <div class="container">
      <p><%= i18n('Please log in') %></p>
      <a href="/login"><%= i18n('Log in') %></a>
    </div>

  </body>
</html>
